<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTLTL</title>
</head>
<body>
    <h1>
        Lst crs
    </h1>
    <header>
        <nav>
            <ul>
                <li>Pg1</li>
                <li>Pg2</li>
                <li>Pg3</li>
                <li>Pg4</li>
                <li>Pg5</li>
            </ul>
        </nav>
    </header>
    <footer>
        FTR
    </footer>
</body>
</html>